/* CSS BY YOUR NAME */

/* RESET — MEYER RESET v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0; border: 0;
    font-size: 100%; font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; font-family: var(--font); background-color: var(--white); }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
table { border-collapse: collapse; }

/* VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: var(--black);
    padding: 2em;
    border-bottom: 6px solid var(--blue);
    display: flex;
    gap: 10rem;
}

header h1 {
    position: relative;
    color: var(--blue);
    font-size: 3em;
    font-weight: bold;
    padding-left: 3rem;
}

h1::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}

  nav ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    text-align:center;
    max-height: 0;
  }
  nav h2 {
    visibility:hidden;
  }
  nav li a {
    display:block;
    font-family:sans-serif;
    font-size:1.5rem;
    padding:1rem;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
    color: var(--blue);
    transition: background-color .3s ease-in;
  }

  nav li a:hover {
    background-color: var(--blue);
    color: var(--black)
}

  /* BUILDS THE MIDDLE LILNE OF THE HAMBURGER */
  label span {
      background-color: white;
      display: block;
      height: .25rem;
      position: relative;
      transition: background-color .3s ease-out;
      width: 2rem;
  }
  /* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
  label span:before, label span:after {
      background: white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  label span:before {
      top: .75rem;
  }
  label span:after {
      top: -.75rem;
  }
  input {
    display:none;
  }
  /* ADDS HEIGHT THE NAV WHEN IT'S DROPPED DOWN */
  input:checked ~ ul {
      max-height: 500px;
      padding-top: 4.5rem;
  }
  /* MAKES THE MIDDLE LINE OF THE HAMBURGER DISAPPEAR */
  input:checked ~ label span {
      background: transparent;
  }
  /* ROTATES THE TOP LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
  input:checked ~ label span:before {
      transform: rotate(-45deg);
  }
  /* ROTATES THE BOTTOM LINE OF THE HAMBURGER INTO ONE SIDE OF THE X */
  input:checked ~ label span:after {
      transform: rotate(45deg);
  }
  /* LOCATION OF THE HAMBURGER */
  input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
      top: 0;
  }
  nav label {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 9999;
    cursor: pointer;
    padding: 2rem;
  }

  
  @media screen and (min-width: 600px){
    nav ul {
      overflow: visible;
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      align-content:end
    }
    label span, input {
      display:none;
    }
  }

#innovation {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 1rem;
    overflow: hidden;
    grid-template-rows: repeat(9, 1fr);
}

.hero {
    display: flex;
    flex-direction: column;
    grid-row: 4/6;
    gap: 2.5rem

}

#innovation h2 {
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
}
#innovation p {
    color: var(--white);
}

#innovation a {
    background-color: var(--blue);
    padding: 1em;
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

#innovation a:hover {
    background-color: var(--red);
}


.container h2 {
    font-size: 2em;
    font-weight: 0.5;
    padding: 1em 1em 0em 1em;
    margin: 1rem;
}

.container p {
    margin-top: 1em;
}

#blue-boxes .container {
    background-color: var(--blue);
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    color: var(--white);
}

#blue-boxes .container h3 {
    font-weight: bold;
    margin-left: 1rem;
}

#results {
    background-color: var(--blue);
    color: var(--white);
    padding-bottom: 2rem;
    width: 100%;
}


#results h3 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2em;
}

#results h2 {
    font-weight: bold;
}

#results p {
    margin: 1.5em;
}














#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}

/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: ;
    height: 0;
}

.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* MEDIA QUERIES (MEDIUM) */ 

#results {
    grid-template-columns: 1fr 1fr;
}
.results-container {
    flex-direction: row;
    justify-content: space-between;
}
.results-table {
    width: 50%;
}
.bar-chart {
    width: 50%;
}

/* MEDIA QUERIES (LARGE) */